body {
    font-family: Arial, sans-serif;
    background-color: #171a21;
    color: #c2c7d0;
    margin: 0;
    padding: 0;
}

.logo img {
    width: 120px;
    height: 100px;
}

header {
    background-color: #1b2838;
    padding: 20px 0;
}

p {
    text-align: left;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline-block;
    color: #ddd;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #c2c7d0;
    padding: 8px 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #0e3a56;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.featured-games {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.giochi-mostrati {
    text-align: center;
    margin-top: 20px; 
}


.game-card {
    display: flex;
    justify-content: space-between;
    background-color: #243447;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 10px;
    flex: 1;
    width: 1200px;
}

.game-card img {
    width: 460px;
    height: 200px;
    
}
.game-card p {
   margin-left: 10px;
   margin-right: 10px;
   text-align: left;
}


.game-card h3{
    text-align: left;
    
}  .game-card h4{
    text-align: left;
    
}  


button {
    background-color: #66c0f4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

footer {
    background-color: #1b2838;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

footer p {
    color: #c2c7d0;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

footer ul li a {
    text-decoration: none;
    color: #ddd;
}

.input-container {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    width: 300px; 
}

.input-container label {
    font-weight: bold;
}

.input-container input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


ol {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.game h4{
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    
    width: 200px;
    bottom: 0%;
}

.game button{
    margin-top: auto;
}
.game {
    background-color: #243447;
    border-radius: 10px;
    padding: 10px;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.game img {
    max-width: 100%;
    height: auto;
}

.game h3 {
    color: #c2c7d0;
}

.section-container{
    align-items: left;
    text-align: center;
    background-color: #243447;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 20px;
    
}

.section-container li {
    text-align: left;
}

.section-container p {
    text-align: center;
}



.paypal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #243447;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 20px;

}


.user-info img {
    border-radius: 10%;
    margin-bottom: 10px;
    float: left;
    margin-right: 10px;
    width: 130px
}

.user-info h3 a {
    color: #3498db;
    text-decoration: none;
    display: inline-block;
}


.friends-list {
width: 48%;
display: flex;
flex-direction: column;
align-items: flex-end;
margin-left: auto;
}

.game {
width: 28%; 
margin: 5px;
text-align: center;
}

.user-purchases {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
}


.user-purchases button {
    margin-top: 10px; /* Add spacing between buttons */}

    




